<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="/javascripts/scripts.js"></script>

    <meta name="google-signin-client_id" content="351815199905-7866h3vhn4lrd4qbe8bk0l8sej8qdaj2.apps.googleusercontent.com">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/hidden.css" />

    <title>User_Form</title>
  </head>
  <body>
      <nav>
          <a href="/auth/logout">Logout</a>
      </nav>
      <header>
          <h1>Logged In</h1>
      </header>

      <section id="appointmentForm">
        <h1>Appointment Form</h1>
        <form method="post" action="/appointment" >
          Summary: <input type="text" id="summary"><br><br>
          Location: <input type="text" id=" location"><br><br>
          Description: <input type="text" id="description"><br><br>
          Start: <input type="date" id="startDate" name="startDate"><br><br>
          End: <input type="date" id="endDate" name="endDate"><br><br>
          Start Time: <input type="time" id="startTime" name="startTime"><br><br>
          End Time: <input type="time" id="endTime" name="endTime"><br><br>
          Recurrence: (#) <input type="text" id="recurrence"><br><br>
          Attendee Email(s): <input type="text" id="attendees"><br><br>
          Reminders: <input type="text" id="reminders"><br><br>
          <button type="submit">Submit</button>
        </form>

      </section>
  
     <!-- <br><br>
      <section id="delete">
        Calendar ID: <input type="text" id="calendarID" name="calendarID"><br><br>
        Event ID: <input type="text" id="eventID" name="eventID"/><button type="delete" onClick="execute()">Delete</button>
      </section> -->
  
      <section id="eventButtons">
        <p id="myEvents"></p>
          <button onclick="viewEvents()">View Events</button>
          <button onclick="deleteEvent()">Delete</button>
      </section>
    

<!-- <script src="../controllers/gCalendar.js"></script> -->
<script>
  
  $("#appointmentForm").css("display", "block");
  $("#eventButtons").css("display", "block");
  //const {google} = require('googleapis');
  //const calendar = google.calendar({version: 'v3', auth});

  /**
   * Sample JavaScript code for calendar.calendarList.list
   * See instructions for running APIs Explorer code samples locally:
   * https://developers.google.com/explorer-help/guides/code_samples#javascript
   */

  // Make sure the client is loaded and sign-in is complete before calling this method.
  function viewEvents() {
    console.log("gapi.client.calendar: ", gapi.client.calendar)
    return gapi.client.calendar;

    console.log("calendar.events.list is: ", calendar.events.list)
    /*return gapi.client.calendar.calendarList.list({})
        .then(function(response) {
                // Handle the results here (response.result has the parsed body).
                console.log("Response", response);
              },
              function(err) { console.error("Execute error", err); });*/
  }

  function deleteEvent() {
    return gapi.client.calendar.calendarList.delete({})
        .then(function(response) {
                // Handle the results here (response.result has the parsed body).
                console.log("Response", response);
              },
              function(err) { console.error("Execute error", err); });
  }

  gapi.load("client:auth2", function() {
    gapi.auth2.init({client_id: "1012259665491-h9mjitf64jabj5b5fm03umu5c6a84t9o.apps.googleusercontent.com"});
  });

</script>


    
  </body>