<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    <meta name="google-signin-client_id" content="721662891407-m2p7me92ecd0ruci948val1njj4prh7n.apps.googleusercontent.com">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>User_Form</title>
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/">HomePage</a></li>
      </ul>
    </nav>
    <section id="appointmentForm">
      <h1>Appointment Form</h1>
      <form method="post" action="/" >
        Summary: <input type="text" id="summary" name="summary"><br><br>
        Location: <input type="text" id=" location" name="location"><br><br>
        Description: <input type="text" id="description" name="description"><br><br>
        Start: <input type="date" id="startDate" name="startDate"><input type="time" id="startTime" name="startTime"><br><br>
        End: <input type="date" id="endDate" name="endDate"><input type="time" id="endTime" name="endTime"><br><br>
        Recurrence: (#) <input type="text" id="recurrence" name="recurrence"><br><br>
        Attendee Email(s): <input type="text" id="attendees" name="attendees"><br><br>
        Reminders: <input type="text" id="reminders" name="reminders"><br><br>
        <button type="submit">Submit</button>
      </form>
    </section>

   <!-- <br><br>
    <section id="delete">
      Calendar ID: <input type="text" id="calendarID" name="calendarID"><br><br>
      Event ID: <input type="text" id="eventID" name="eventID"/><button type="delete" onClick="execute()">Delete</button>
    </section> -->

    <section class="eventList">
      <p id="myEvents"></p>
    </section>

    <script src="https://apis.google.com/js/api.js"></script>
    <!-- <script src="./routes/index.js"></script> -->
    <script type="text/javascript" src="/javascripts/script.js"></script>

    <div class="g-signin2" data-onsuccess="onSignIn" ></div>
    <a href="#" onclick="signOut()">Sign out</a>

    <!-- <button onclick="deleteEvent()">delete</button> -->
    <!-- <button onclick="listAllEvents()">list</button> -->
   
    <form method="get" action="/" >
      <button>list</button>
    </form>
    <form method="delete" action="/" >
      <button>delete</button>
    </form>

  </body>
</html>
