<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    <meta name="google-signin-client_id" content="351815199905-7866h3vhn4lrd4qbe8bk0l8sej8qdaj2.apps.googleusercontent.com">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/hidden.css" />
    <title>User_Form</title>
  </head>
  <body>
    <nav>
      <a href="/auth/google">Login with Google</a>
    </nav>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="../controllers/listevents.js"></script>

    <!-- <div class="g-signin2" data-onsuccess="onSignIn" ></div> -->
    <!-- <a href="#" onclick="signOut()">Sign out</a>  -->

    <script>

    /*
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

      $("#appointmentForm").css("display", "block");
      $("#eventButtons").css("display", "block");
     
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
    */
    
  
  </script>

  </body>
  </html>
  