<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>User_Form</title>
  </head>
  <body>
    <h1>Appointment Form</h1>
    <section class="appointmentForm">
      <form method="post" action="/" >
        Summary: <input type="text" id="summary" name="summary"><br><br>
        Location: <input type="text" id=" location" name="location"><br><br>
        Description: <input type="text" id="description" name="description"><br><br>
        Start: <input type="datetime-local" id="start" name="start"><br><br>
        End: <input type="datetime-local" id="end" name="end"><br><br>
        Recurrence: (#) <input type="text" id="recurrence" name="recurrence"><br><br>
        Attendee Email(s): <input type="text" id="attendees" name="attendees"><br><br>
        Reminders: <input type="text" id="reminders" name="reminders"><br><br>
        <button type="submit">Submit</button>
      </form>
    </section>

    <section class="eventList">
      <p id="myEvents"></p>
    </section>
  </body>
</html>
