<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User_Form</title>
  </head>
  <body>
    <form method="POST">
      <!-- form fields are below-->
      Summary: <input type="text" id="summary" name="summary"><br><br>
      Location: <input type="text" id=" Location:" name="Location:"><br><br>
      Description: <input type="text" id="Description:" name="Description"><br><br>
      Start: <input type="text" id="Start" name="Start"><br><br>
      End: <input type="text" id="End" name="  End:"><br><br>
      Recurrence: <input type="text" id="Recurrence" name="Recurrence"><br><br>
      Attendees: <input type="text" id="Attendees" name="Attendees"><br><br>
      Reminders: <input type="text" id="Reminders" name="Reminders"><br><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
